$main-color = #728bbe
$main-color-dark = rgba(245,193,187,0.9)
$sub-color = #66ccff
$sub-color-dark = rgba(245, 240, 242,0.9)
$btn-text-color = #FFFFFF
$title-color = #FFFFFF
$title-color-dark = #999999
$icon-active-color = #ff9488
$hover-color = #F5B7BB
$active-color = #FADBD8
