$main-color = rgba(114, 139, 190, 1)
$main-color-dark = rgba(114, 139, 190, 1)
$sub-color = #66ccff
$sub-color-dark = rgba(245, 240, 242,0.9)
$btn-text-color = #FFFFFF
$title-color = #FFFFFF
$title-color-dark = #e5e5e5
$icon-active-color = #ff9488
$hover-color = #F5B7BB
$active-color = #FADBD8
